 .login-form {
    min-width: 150px;
  }
 .login-form-forgot {
    float: right;
  }
 .login-form-button {
    width: 100%;
  }

  .avatar-uploader > .ant-upload {
    width: 128px;
    height: 128px;
  }